---
extends: default
rules:
  line-length:
    max: 120
    level: warning
  trailing-spaces: enable
  document-start: disable
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
  indentation:
    spaces: 2
    indent-sequences: consistent
    check-multi-line-strings: false
  comments:
    min-spaces-from-content: 2
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 0
  key-duplicates: enable
  key-ordering: disable
